h1 {
    color: blue;
}

#titulo {
    color: bisque;
}

p.texto1 {
    color: aqua;
}

p.texto2 {
    color: rgb(62, 19, 201);
}

p.texto3 {
    color: rgb(181, 17, 38);
}

div {
    color: rgb(79, 79, 241);
}
h1 {
    color: #e00; /*formato Hexadecimal - 3 digitos*/
}

h2 {
    color: #00ff00; /*formato Hexadecimal - 6 digitos*/
}

h3{
    color:rgb(255, 100, 12);
}