#uno{
    position: static;
}
#dos{
    position: relative;
    top: 10em;
}
#tres{
position: fixed;
left: 20em;
}
#cuatro{
position: absolute;
top: 30em;
right: 20em;

}
#cinco{
    position: sticky;
    right: 20em;


}